section{
  margin: 5px;
}
section .btn, .fn{
  display: inline-block;
}
.btn, .fn{
  padding:8px;
  width:55px;
  background: #DBDBDB;
  text-align: center;
}
.btn:hover, .fn:hover{
  cursor: pointer;
}
#resultado{
  height: 35px;
  text-align: right;
  width: 295px;
  font-size: 1.2em;
}
.leyenda li{
  list-style-type: square;
}
.oneoperand .fn{
  background: #93E6CD;
}
.bioperand{
  background: #ADDDED;
}
.noperands{
  background: #E6E393;
}

.leyenda li.unitarias{
  color: #93E6CD;
}
.leyenda li.binarias{
  color: #ADDDED;
}
.leyenda li.noperandos{
  color: #E6E393;
}
